@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
.some-body-section {
  position: absolute;
  height: 100%;
  width: 100%;
  width: 100wv;
  height: 100vh;
}

.some-body-section .thanks-modal-wrapper {
  position: relative;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  box-shadow: 1px 1px 10px 1px grey;
}

.some-body-section .thanks-modal-wrapper a {
  text-decoration: none;
}

.some-body-section .thanks-modal-wrapper .thanks-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccac1;
}

.some-body-section .thanks-modal-wrapper .thanks-modal-header h3 {
  font-size: 30px;
  font-weight: 500;
  color: #2c2a2a;
  letter-spacing: 0.5px;
  padding: 30px 0px 30px 32px;
}

.some-body-section .thanks-modal-wrapper .thanks-modal-header p {
  padding-right: 20px;
}

.some-body-section .thanks-modal-description {
  padding: 36px 0px 20px 92px;
  font-size: 20px;
  font-weight: 500;
  color: #2c2a2a;
}

.some-body-section .thanks-modal-sort {
  display: flex;
  align-items: center;
  margin: 20px 0px 30px 74px;
  font-weight: 500;
}

.some-body-section .thanks-modal-sort label {
  padding: 0px 6px 0px 20px;
}

.some-body-section .thanks-modal-sort select {
  font-weight: bold;
  font-size: 16px;
  color: #235E96;
}

.some-body-section .thanks-modal-user-card {
  position: relative;
  width: 100%;
  padding-left: 26px;
}

.some-body-section .thanks-modal-user-card .form-control {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.some-body-section .thanks-modal-user-card .form-control input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-right: 20px;
  font: inherit;
  color: currentColor;
  width: 1.6em;
  height: 1.6em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.some-body-section .thanks-modal-user-card .form-control input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em blue;
  background-color: CanvasText;
}

.some-body-section .thanks-modal-user-card .form-control input[type="radio"]:checked::before {
  transform: scale(1);
}

.some-body-section .thanks-modal-user-card .form-control .user-info {
  position: relative;
  width: 1264px;
  border: solid 2px #cbc9bf;
  border-radius: 10px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .user-info-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  padding: 34px 90px 30px 40px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .user-info-list li p {
  padding-bottom: 6px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .user-info-list li .user-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .user-info-list li .user-info-status {
  font-size: 14px;
  text-align: center;
  background-color: #167F01;
  border-radius: 5px;
  padding: 1px 8px;
  color: white;
}

.some-body-section .thanks-modal-user-card .form-control .user-info #more {
  display: none;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .thanks-modal-details {
  position: relative;
  display: block;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .thanks-modal-details h5 {
  border-top: 1px solid #cccac1;
  padding: 30px 0px 0px 40px;
  font-size: 16px;
  padding-bottom: 10px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .thanks-modal-details .user-info-add-list {
  display: flex;
  align-items: center;
  gap: 0px 70px;
  list-style: none;
  font-size: 16px;
  padding: 0px 0px 22px 40px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .thanks-modal-details .user-info-add-list li {
  color: #2d2b29;
  font-size: 16px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .thanks-modal-details .user-info-add-list li h6 {
  letter-spacing: 2px;
  color: #727068;
  font-size: 14px;
  padding-bottom: 8px;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .show-details {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: #F6F6F6;
}

.some-body-section .thanks-modal-user-card .form-control .user-info .show-details a {
  margin-left: 36px;
}

.some-body-section .bottom-button {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
  border-top: 1px solid #cccac1;
  background-color: #F6F6F6;
}

.some-body-section .bottom-button .button-1 {
  width: 314px;
  height: 64px;
  font-weight: 400;
  font-size: 16px;
  color: #5B2F91;
  background-color: white;
  border: 1px solid #5B2F91;
  border-radius: 10px;
  font-weight: 500;
}

.some-body-section .bottom-button .button-2 {
  width: 232px;
  height: 64px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color: #5B2F91;
  border: 1px solid #5B2F91;
  border-radius: 10px;
  font-weight: 500;
  margin: 0px 34px;
}
/*# sourceMappingURL=style.css.map */